services:
  db:
    image: postgres:17
    volumes:
      - db_data:/var/lib/postgresql/data   # ← 名前付きボリュームを使う
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: myapp_development
    ports:
      - "5432:5432"

  web:
    build:
      context: .
      dockerfile: Dockerfile.dev   # ← 開発用を指定
      #dockerfile: Dockerfile.prod   # ← 本番用を指定
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -b 0.0.0.0 -p 3000"
    volumes:
      - .:/myapp
    ports:
      - "3000:3000"
    depends_on:
      - db

volumes:
  db_data:   # ← トップレベルで宣言